body{
    background: #0c0c0c10; 
}
#Contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:2%;
}
#Calculadora{
    width: 50%;
}
#Pantalla{
    background: #ffffff; 
    width: 90%;
    border:0;
    margin:0;
    text-align:right;
    padding:10px;
}
#Teclado{
    background: #3A434F;  
  }
.button{
    background: #3A434F;
    font-size: 20px;
    margin: 0;
    padding: 15px;
    border: 0;
    color: #b0b0d4;
    width: 60px;
    height: 60px;
    min-width: 10px;
    min-height: 10px;
}