table{
    background-color: #2cb5e8;
    width: 25%;
}
table , td, th {
	border: 0px solid #595959;
	border-collapse: collapse;
    width: 25%;

}
td, th {
	padding: 3px;
	width: 33%;
	height: 25%;
}
td input{
    width:100%;
}
.btnDrop{
    width: 50%;
}
.resultado{
    background-color: #f0e6cc;
}
th {
	background: #f0e6cc;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}
#Contenedor{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:5%;
}
#Calculadora{
    width: 50%;
}
#Pantalla{
    width: 50%;
    background: white;
    background: #2cb5e8;
    font-size: 20px;
     height: 100px;
    border:0;
    margin:0;
    text-align:right;
    padding:10px;
    color: white;
}
#Teclado{
    background: #3A434F;  
  }
  
.button{
    background: #3A434F;
    font-size: 20px;
    margin: 0;
    padding: 15px;
    border: 0;
    color: #FCFCFD;
    width: 100%;
    height: 50%;

}

