
*, *::before, *::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background: #cfcfcf;
  }

  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    }

    .calculator-grid > button {
      cursor: pointer;
      font-size: 2rem;
      border: 1px, solid #ffffff;
      outline: none;
      background-color: #c0caeee0;
    }

      .calculator-grid > button:hover {
        background-color: #b88851;
      }

      .span-two {
        grid-column: span 2;
        color: #36c293;
        background-color: #0d1e58e0;
      }

      .output{
        grid-column: 1 / -1;
        background-color: #000000e0;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px;
        word-wrap: break-word;
        word-break: break-all;
      }

      .output .previous-operand{
        color: #2645ade0;
        font-size: 1.5rem;
      }

      .output .current-operand{
        color: #ffffff;
        font-size: 2.5rem;
      }


